@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    scroll-behavior: smooth;
}

header {
    color: white;
    height: 100vh;
    background-size: cover;
    background-image: url(Headerimg.png);
}


.header-text {
    text-align: center;
}

.head-text {
    text-align: center;
    font-family: sans-serif;
    font-size: 65px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 100px;
}

.head-desc {
    font-family: 'DM Sans', sans-serif;
    margin-top: 70px;
    font-weight: 500;
}

.head-btn {
    border: 2px solid #FFFFFF;
    border-radius: 25px;
    background: none;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    padding: 10px;
    width: 150px;
    margin-top: 100px;
}

.head-btn:hover {
    cursor: pointer;
}

.services {
    text-align: center;
    margin-bottom: 100px;
}

.cards {
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
    margin-right: 40px;
}

.card {
    width: 300px;
    margin: 40px;
    padding: 30px;
    border-radius: 25px;
}

.c1 {
    background: #503B7C;
}

.c2 {
    background: #D37538;
}

.c3 {
    background: #974063;
}

.card>h3 {
    font-family: 'Manrope', sans-serif;
    margin-bottom: 15px;
}

.card>p {
    font-family: 'DM Sans', sans-serif;
    margin-bottom: 10px;
}

.card>button {
    background-color: #000;
    border: none;
    font-family: 'Manrope';
    text-transform: uppercase;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 50px;
    font-weight: 700;
    color: white;
    margin-top: 10px;
}

.serv-htxt {
    margin-top: 100px;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 27px;
    font-weight: 700;
}

.serv-dtxt {
    font-family: 'Manrope', sans-serif;
    color: #213175;
    font-weight: 500;
    text-decoration: none;
}

@media only screen and (max-width: 1200px) {
    

    .about {
        margin-left: 40px;
        margin-right: 40px;
    }
}

.about {
    text-align: center;
    /* display: flex; */
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 50px;
    min-height: 50vh;
}

.abt-text {
    display: inline-block;
margin: 1em;}

.abt-img {
    margin-top: 1em;
    width: 50%;
}

.abt-text>h2 {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 27px;
    font-weight: 700;
}

.abt-text>h2>span {
    background: linear-gradient(90deg, #5E2DC4 68.64%, #BF5F21 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.abt-text>p {
    margin-top: 20px;
    font-family: 'DM Sans', sans-serif;
}

.directions {
    display: flex;
    margin-left: 40px;
    margin-right: 40px;
    padding: 30px;
    margin-top: 70px;
    margin-bottom: 70px;
}

.dir-text > p > a {
    font-weight: 500;
    color: #121C4A;
    text-decoration: none;
}

.dir-text {
    padding-right: 20px;
}

.dir-text > h2 {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 27px;
    font-weight: 700;
}

.dir-text > .dir-big > h3 {
    color: #5E2DC4;
    font-family: 'Manrope', sans-serif;
}

.dir-img {
    height: 52px;
    margin-right: 20px;
}

.dir-text > p {
    font-family: 'DM Sans', sans-serif;
}

.dir-big {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    margin-bottom: 60px;
}

@media only screen and (max-width: 1088px) {
    .cards, .directions, .about, .main-text, .ginv, .con-items {
        flex-direction: column;
        text-align: center;
    }

    .abt-text, .serv-dtxt, .contact {
        text-align: center;
        margin-left: 0;
    }

    .dir-big {
        flex-direction: column;
    }

    .dir-img {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .dir-text>p:last-child {
        margin-bottom: 20px;
    }

    .dir-text {
        padding: 0;
    }

    .worker {
        margin-bottom: 40px;
        margin-right: 0px;
    }
    .abt-img {
        width: 100%;
        margin-top: 40px;
    }

    form {
        width: 100%;
    }

    .contact-text {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }
}

.ginv {
    margin-left: 40px;
    margin-right: 40px;
    padding: 30px;
    margin-top: 70px;
    margin-bottom: 70px;
}

.ginv > .main-text {
    display: flex;
}

.ginv-htxt {
    margin-top: 25px;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 27px;
    font-weight: 700;
    margin-bottom: 20px;
}

@media only screen and (min-width: 1090px) {

    .contact-text {
        width: 50%;
        margin-right: 40px;
    }

.worker {
    margin-right: 40px;
}

form {
    width: 50%;
}

}
.ginv-head {
    color: #213175;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 19px;
    margin-bottom: 15px;
}

.ginv-bv {
    color: #503B7C;
    font-style: italic;
    font-weight: 500;
    font-family: 'DM Sans', sans-serif;
    margin-bottom: 10px;
}


.ginv-text {
    font-family: 'DM Sans', sans-serif;
    margin-bottom: 10px;
}

.ginv-link {
    text-decoration: none;
    color: #213175;
    font-family: 'DM Sans', sans-serif;
}

.contact {
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 90px;
    padding: 30px;
}

.con-items {
    display: flex;
}
  
.con-head {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 27px;
    font-weight: 700;
    margin-bottom: 20px;
}

.contact-text > p {
    font-family: 'DM Sans', sans-serif;
    margin-bottom: 10px;
}

.con-last {
    padding-bottom: 16px;
}

button {
    background: #625CC9;
    border: none;
    color: white;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'DM Sans', sans-serif;
    border-radius: 10px;
    font-weight: 500;
    margin-top: 20px;
}

button:hover {
    cursor: pointer;
}

input, textarea {
    background: #FFFFFF;
box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
border-radius: 10px;
border: none;
padding: 10px;
    width: 100%;
}

label {
    display: inline-block;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    margin-bottom: 10px;
}

input {
    margin-bottom: 20px;
}

textarea {
    height: 150px;
}

.c-plat > img {
    width: 40px;
    margin-top: 20px;
}

.c-plat > h3 {
    font-family: 'Manrope', sans-serif;
    margin-top: 8px;
    margin-bottom: 5px;
}


.c-plat > a {
    text-decoration: none;  
    font-family: 'DM Sans', sans-serif;
    color: #121C4A;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 16px;
}

input::placeholder, textarea::placeholder {
    font-family: 'DM Sans', sans-serif;
}

footer {
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    border-top: 1px solid black;
    /* background: linear-gradient(180deg, #d3d7e8, #ebf0f6); */
}

footer > p {
    padding: 20px;
    margin-left: 40px;
    margin-right: 40px;
}