header {
    height: 100vh;
    background-image: url(mission-head.jpgÊ);
    background-size: cover;
}

.text > h1 {
    text-transform: uppercase;
    font-family: 'DM Sans', sans-serif;
    text-align: center;
    font-size: 65px;
    font-weight: 700;
    margin-top: 30vh;
    color: white;
}

.serv-text {
    font-size: 25px;
    font-weight: 700;
    margin-left: 30px;
    margin-top: 100px;
    font-family: 'Red Hat Display', sans-serif;
}

footer {
    margin-top: 50px;
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    border-top: 1px solid black;
    /* background: linear-gradient(180deg, #d3d7e8, #ebf0f6); */
}

footer > p {
    padding: 20px;
    margin-left: 40px;
    margin-right: 40px;
}

.statements {
    margin-top: 30px;
}

.statements > p {
    margin: 1em;
    font-family: 'DM Sans', sans-serif;
}