body {
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    font-weight: 600;

    text-decoration: none;
    color: initial;
    padding: 0.8em 1.6em;
    color: white;
    background: #213175;
border-radius: 15px;
text-transform: uppercase;
margin-bottom: 15px;
}

@font-face {
    font-family: 'Edo';
    font-style: normal;
    font-weight: normal;
    src: local('Edo'), url('edo.woff') format('woff');
    }



  
  
    .serv-text {
      text-align: center;
      margin-left: 0px;
    }
    
    .tab-info {
      flex-direction: column;
    }
  
    .side-info, .main-info {
      width: 100%;
      text-align: center;
    }
  
    .tabset {
      text-align: center;
    }
  

  .side-info > h2 {
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
  }
  
  .main-info > p, .side-info > p {
      margin-top: 1em;
      margin-bottom: 1em;
  }
  
  .side-info > img {
    width: 50%;
  }

  .container {
    padding: 2em 4em;
    background-color: #8EC5FC;
background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
 }

  .title-text {
    font-family: 'Edo', sans-serif;
    text-align: center;
  }

  .title-text > h2 {
    font-size: 6em;
    padding-bottom: 20px;
    color: #942281;
  }

  .title-text > h3 {
    font-size: 2em;
    color: #313CCD;
    padding-bottom: 20px;
  }

  @media screen and (max-width: 400px) {
    .title-text > h2 {
        font-size: 3em;
    }

    .title-text > h3 {
        font-size: 0.5em;
    }
  }

/* modak */
.modal-window {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.25);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
  }

.modal-window > div {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    background: white;
  }

  
.modal-window:target {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }

  .modal-close {
    color: #aaa;
    line-height: 50px;
    font-size: 80%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 70px;
    text-decoration: none;

  }

  .modal-close:hover {
    color: black;
  }
  
  
  
  

  
  
  
  .modal-window >div {
      border-radius: 1rem;
    }
  
  
  .modal-window div:not(:last-of-type) {
    margin-bottom: 15px;
  }
  
  
 .modal-content > a {
    text-decoration: none;
    color: #213175;
    margin-bottom: 1em;
  }
  

footer {
    background-color: #d7ebff;
    font-weight: normal;

}